$break-s: 360px;
$break-sm: 432px;
$break-m: 576px;
$break-l: 768px;
$break-xl: 1023px;
$break-xxl: 1720px;

$background: #f7ebd2;
$accent: #8ba9cc;
$text-color: #ed725a;
$apply-btn-text-color: #f3e8d7;
